.App {
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.map-container {
  padding: 0.5em;
  background-color: #66bbd0;
  flex: 0 0 60%;
  margin: 0.5em;
}

.map-tag {
  height: 600px;
  width: 100%
}

.left-bar {
  padding: 0.5em;
  background-color: #afe4af;
  flex: 0 0 35%;
  margin: 0.5em;
}